body,
.topNav {
  background-color: rgb(29, 44, 101);
  font-family: 'Roboto', sans-serif;
}

.nav-link {
  color: white;
}

.icon {
  color: white !important;
  fill: white;
}

.title {
  color: rgb(147, 145, 255);
}

.banner {
  margin: 75px 0;
}

.description {
  font-size: small;
}

.divider {
  border-bottom: 1px solid gray;
  width: 50%;
  margin: 25px auto;
}

.skill li {
  margin-bottom: 12px;
}
